<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Balance needs access to your camera to let websites use it for video calls and other features.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Balance needs access to your microphone to let websites use it for audio calls and other features.</string>
</dict>
</plist>
